<app-loader [showLoader]="showLoader">
</app-loader>
<div class="container-wrapper" *ngIf="flowData" [ngClass]="{'expanded': isExpanded, 'collapsed': !isExpanded}">
  <button (click)="toggleNavbar()">
    <mat-icon>{{ isExpanded ? 'keyboard_arrow_left' : 'keyboard_arrow_right' }}</mat-icon>
  </button>
  <div class="navbar">
    
    <div class="content">
      <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start start">
        <div *ngIf="flowData?.length > 0">
          <div *ngFor="let data of flowData" class="card-container">
            <mat-card class="card image-card" >
              <div *ngIf="data.base" class="image-container">
                <img (click)="showLargeImage(data._id,data.base, data.html)" [src]="convertBase64ToImage(data.base)" alt="Screenshot" />
              </div>
            </mat-card>
          </div>          
        </div>
      </div>
    </div>
  </div>
  <div>

  <div class="image-display" *ngIf="showImage" (mouseleave)="removeHighlight()">
    <div class="image-container" style="margin: 10px;  ">
      <img id="image" [src]="convertBase64ToImage(enlargedImageUrl)" alt="Enlarged Screenshot" (mousemove)="mousemove($event)" />
      <div id="box"  style="pointer-events: none;"></div>
      <div id="interactedbox"   (mouseenter)="removeHighlight()" (click)="redirect()"></div>
    </div> 
    <div class="response-container" *ngIf="doc"  >
      <ng-container *ngTemplateOutlet="recursiveList; context: { $implicit: [doc] }"></ng-container> 
      <ng-template #recursiveList let-items>
        <ng-container *ngFor="let item of items">
          <div class="tree-item">
            <div class="tag" (click)="toggleExpand(item)" (click)="highlightArea(item)">
              &lt;{{ item.nodeName.toLowerCase() }}
              <span *ngFor="let attr of item.attributes">
                {{ attr.name }}="{{ attr.value }}"
              </span>
              &gt;
            </div>
            <div class="children" *ngIf="item.expanded">
              <ul>
                <ng-container *ngTemplateOutlet="recursiveList; context: { $implicit: item.children }"></ng-container>
              </ul>
            </div>
            <div class="content" *ngIf="item.nodeType === 3">
              {{ item.textContent }}
            </div>
          </div>
        </ng-container>
      </ng-template>
    </div>
    

  </div>    
</div>
</div>

<!-- <div class="response-container" *ngIf="doc" >
      <ng-container *ngTemplateOutlet="recursiveList; context: { $implicit: [doc] }"></ng-container>  
      <ng-template #recursiveList let-items>
        <ng-container *ngFor="let item of items">
          <div class="tree-item">
            <div class="tag" >&lt;{{ item.tagName.toLowerCase() }}&gt;</div>
            <ng-container *ngIf="item.children.length > 0">
              <ul class="children">
                <ng-container *ngTemplateOutlet="recursiveList; context: { $implicit: item.children }"></ng-container>
              </ul>
            </ng-container>
          </div>
        </ng-container>
      </ng-template>
    </div> -->



<!-- ******************************* -->





    <!-- <div class="response-container" *ngIf="doc">
      <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: [doc.documentElement] }"></ng-container>
    </div>
    
    <ng-template #recursiveList let-items>
      <ng-container *ngFor="let item of items">
        <div >
          <div>&lt;{{ item.tagName.toLowerCase() }}&gt; </div>
          <ng-container *ngIf="item.children.length > 0">
            <ul>
              <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
            </ul>
          </ng-container>
        </div>
      </ng-container>
    </ng-template> -->
    
     
    <!-- <div class="response-container" (mouseleave)="removeHighlight()">
      <ul>
        <li *ngFor="let item of responseData" (mouseenter)="highlightArea(item)" id="{{item.id}}">{{ item}}</li>
      </ul>
    </div> -->
    <!-- <div class="response-container" (mouseleave)="removeHighlight()">
      <ul>
        <ng-container *ngFor="let item of responseData">
          <li (mouseenter)="highlightArea(item)" id="{{item.id}}">{{ item.component_data.class }}</li>
          <ng-container *ngIf="item.children && item.children.length">
            <li>
              <ul>
                <ng-container *ngFor="let child of item.children">
                  <li (mouseenter)="highlightArea(child)" id="{{child.id}}">{{ child.component_data.class }}</li>
                </ng-container>
              </ul>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </div> -->
    <!-- <div class="response-container" (mouseleave)="removeHighlight()">
      <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: responseData }"></ng-container>
    </div>
    
    <ng-template #recursiveList let-items>
      <ng-container *ngFor="let item of items">
        <div class="tag-container" (mouseenter)="highlightArea(item)" (click)="toggleAccordion(item)" id="{{ item.component_data.id }}">
          <ng-container *ngIf="item.component_data.attributes">
            <ng-container *ngFor="let attribute of item.component_data.attributes">
              <ng-container *ngIf="attribute.name === 'TagName'">
                <div>&lt;{{ attribute.value }}&gt;</div>
              </ng-container>
            </ng-container>
          </ng-container>
          <div class="accordion" *ngIf="item.isExpanded">
            <div class="accordion-header">
              <span>Attributes</span>
              <i class="material-icons" (click)="toggleAccordion(item)">
                {{ item.isExpanded ? 'expand_less' : 'expand_more' }}
              </i>
            </div>
            <div class="accordion-content">
              <ng-container *ngFor="let attribute of item.component_data.attributes">
                  <div>{{ attribute.name|titlecase }}: {{ attribute.value }}</div>
              </ng-container> -->
              <!-- <ul>
                <li *ngFor="let attribute of item.component_data.attributes">
                  <span>{{ attribute.name }}: {{ attribute.value }}</span>
                </li>
              </ul> -->
            <!-- </div>
          </div>
        </div>
        <ng-container *ngIf="item.children && item.children.length">
          <ul>
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
          </ul>
        </ng-container>
      </ng-container>
    </ng-template> -->
    
    
    
    

