<div class="container-wrapper" [ngClass]="{'expanded': isExpanded, 'collapsed': !isExpanded}">
  <div class="navbar">
    <button (click)="toggleNavbar()">
      <mat-icon>{{ isExpanded ? 'keyboard_arrow_left' : 'keyboard_arrow_right' }}</mat-icon>
    </button>
    <div class="content">
      <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start start">
        <div *ngFor="let item of flowData.data" class="card-container">
          <mat-card class="card" [ngClass]="{'image-card': isImage(item), 'object-card': !isImage(item)}">
            <div *ngIf="isImage(item)" class="image-container">
              <img (click)="showLargeImage(item.image, item._id)" [src]="convertBase64ToImageStoreShape(item.image,item.shape)" alt="Screenshot" />
            </div>
            <div *ngIf="!isImage(item)" class="details-container">
              <div class="object-content">
                <img [src]="convertBase64ToImage(item.object)" alt="Screenshot" />
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <div class="image-display" *ngIf="showImage">
    <div class="image-container">
      <img [src]="convertBase64ToImage(enlargedImageUrl)" alt="Enlarged Screenshot" [style.aspectRatio]="aspecRatio" />
      <div class="box" [style.left.%]="boxLeft" [style.top.%]="boxTop" [style.width.%]="boxWidth" [style.height.%]="boxHeight"></div>
    </div>  
    <div class="response-container">
      <ul>
        <li *ngFor="let item of responseData" (mouseenter)="highlightArea(item.position)" (mouseleave)="removeHighlight()">{{ item.class}}</li>
      </ul>
    </div>
  </div>
</div>
